
<div class="flex flex-column">
  <span class="text-lg mb-4">Ingressa</span>
  <mat-form-field>
    <mat-label>Usuari</mat-label>
    <input type="text" matInput placeholder="Nom Usuari" >
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contrassenya</mat-label>
    <input type="password" matInput placeholder="Contrassenya" >
  </mat-form-field>
  <button mat-button mat-flat-button color="primary" (click)="onLogin()">
    <mat-icon>login</mat-icon>
    Entrar
  </button>
  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">Registre't</a>
  </div>
</div>
